<form th:action="@{/member/signup}" th:object="${memberSignupDto}" method="post">

    <div class="mb-3">
        <label for="email" class="form-label text-secondary fw-semibold small">이메일</label>
        <input type="email" id="email"
               class="form-control"
               th:field="*{email}"
               th:classappend="${#fields.hasErrors('email')} ? 'is-invalid' : ''"
               placeholder="example@alvibe.com">
        <div class="invalid-feedback" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
    </div>

    <div class="mb-3">
        <label for="password" class="form-label text-secondary fw-semibold small">비밀번호</label>
        <input type="password" id="password"
               class="form-control"
               th:field="*{password}"
               th:classappend="${#fields.hasErrors('password')} ? 'is-invalid' : ''"
               placeholder="최소 4자 이상 입력해주세요">
        <div class="invalid-feedback" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
    </div>

    <div class="mb-3">
        <label for="passwordConfirm" class="form-label text-secondary fw-semibold small">비밀번호 확인</label>
        <input type="password" id="passwordConfirm"
               class="form-control"
               th:field="*{passwordConfirm}"
               th:classappend="${#fields.hasErrors('passwordConfirm') || #fields.hasErrors('validPassword')} ? 'is-invalid' : ''"
               placeholder="비밀번호를 다시 입력해주세요">

        <div class="invalid-feedback" th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}"></div>
        <div class="invalid-feedback" th:if="${#fields.hasErrors('validPassword')}" th:errors="*{validPassword}"></div>
    </div>

    <div class="mb-4">
        <label for="nickname" class="form-label text-secondary fw-semibold small">닉네임</label>
        <input type="text" id="nickname"
               class="form-control"
               th:field="*{nickname}"
               th:classappend="${#fields.hasErrors('nickname')} ? 'is-invalid' : ''"
               placeholder="2자~10자 사이로 작성해주세요">
        <div class="invalid-feedback" th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}"></div>
    </div>

    <button type="submit" class="btn btn-orange w-100 py-2 fw-bold mb-3 fs-5">
        가입하기
    </button>
</form>